<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Contact Us</h1>
    <main>
        <form action="/success" class="product-form">
            <div class="form-control">

                <label for="name" name="name" >Name</label>
                <input type="text" id="name" required>
                
                <label for="email" name="email" >Email</label>
                <input type="email" id="email" required>
                
            </div>
                <button class="btn" type="submit">Submit</button>
        </form>
    </main>

<%- include('includes/end.ejs') %>