body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main-header{
    width: 100%;
    background-color: green;
    height: 60px;
    display: flex;
    align-items: center;
}

.main-header__item-list{
    display: flex;
    margin: 0;
    list-style-type: none;
}
.main-header__item a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 10px;

   
}
main{
    padding: 1rem;
}

form{
    padding: 1rem;
}

form div,input{
    padding: 10px;
}

button{
    background-color: green;
    color: white;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}